@model IEnumerable<RecipesApp.Models.Recipe>

@{ ViewData["Title"] = "My Recipes"; }

@if (Model.Count() == 0)
{
<div class="container">
    <h3>You didn't add any recipe yet. Please login to add your recipes. You can add them with "Create" button.</h3>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-action="Create">Create New Recipe</a>
        </p>
    }
</div>
}
else { 
<div class="container">
    <h1>My Recipes</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-action="Create">Create New Recipe</a>
        </p>
    }
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 mr-2">
                <div class="card">
                    <div class="card-body">
                        <img src="@Url.Content(item.Image)" alt="Image" />
                        @*<img src="@Html.DisplayFor(modelItem => item.Image)" />*@
                        <p>@Html.DisplayFor(modelItem => item.Name)</p>
                        <p>@Html.DisplayFor(modelItem => item.Category.Name)</p>
                        <p>@Html.DisplayFor(modelItem => item.Ratings)</p>
                        <a asp-action="Details" asp-route-id="@item.RecipeId">Details</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}