@model RecipesApp.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Details of the recipe that you bought</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredients)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CookingAdvice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CookingAdvice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        @if (Model.IsSalable)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsSalable)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsSalable)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)$
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="List" asp-controller="Shop">Back to List</a>
</div>
